
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl;
}

header {
    background-color: #9CAF88;
    padding: 15px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

header h1 {
    color: #FFF;
    font-size: 32px;
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #F5F5DC;
}

.contact-container {
    background-color: #9CAF88;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    margin: 40px auto;
}

h2 {
    text-align: center;
    color: #FFF;
}

label {
    display: block;
    margin-top: 10px;
    color: #FFF;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #FFF;
    border-radius: 5px;
    background-color: #FFFFFF;
    color: #000000;
    
}


button {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    color: #9CAF88;
    border: none;
    border-radius: 5px;
    margin-top: 15px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #FFFFFF;
    color: #9CAF88;
}
input:focus,
textarea:focus {
    border-color: #9CAF88;
    background-color: #E5F3E5; 
    outline: none;
}